/**
* Article
*
* @section molecules
* @author  ljd
*/
.article {}
.article__image {
	width: 50%;
	float: right;
	margin: 0 0 em($base-line-height * 2) em($base-line-height * 2);
	overflow: hidden;


	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;

		border-radius: 100%;
	}
}
.article__title {
	@include leader(4, scaled-value(6), 'padding');
	@include trailer(4, scaled-value(6));
	@include adjust-font-size-to(scaled-value(6));
}
// Media queries
@include media(tabletV) {
	.article__title {
		@include leader(4, scaled-value(5), 'padding');
		@include trailer(4, scaled-value(5));
		@include adjust-font-size-to(scaled-value(5));
	}
}
@include media(mobileH) {
	.article__title {
		@include leader(0, scaled-value(4), 'padding');
		@include trailer(2, scaled-value(4));
		@include adjust-font-size-to(scaled-value(4));
	}
	.article__image {
		float: none;
		width: auto;
		max-width: 10em;
		margin: 0 auto em($base-line-height * 2);
	}
}