/**
* Banner
*
* @section molecules
* @author  ljd
*/
.banner {
	overflow: hidden;

	position: relative;

	background: $color-grey-light url(../images/content/banner-1.jpg) center center no-repeat;
	background-size: cover;
}
.banner__content {
	padding: 0 em($base-line-height);

	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	z-index: 2;

	@include transform(translateY(-50%));
}
.banner__text {
	margin: 0;

	@include adjust-font-size-to(scaled-value(7));
	font-family: $font-stack-script;
}
.banner__spacer {
	display: block;
	width: 100%;
	height: auto;

	position: relative;
	z-index: 1;
}
// Media queries
@include media(tabletH) {
	.banner__text {
		@include adjust-font-size-to(scaled-value(6));
	}
}
@include media(mobileH) {
	.banner__content {
		padding: em($base-line-height * 3) em($base-line-height) 0;
		position: static;

		@include transform(none);
	}
	.banner__text {
		@include adjust-font-size-to(scaled-value(5));
	}
	.banner__spacer {
		display: none;
	}
}