/**
* Masthead
*
* @section molecules
* @author  ljd
*/
.masthead {
	overflow: hidden;
	padding: em($base-line-height * 2) 0;
}
.masthead__title {
	margin: 0;
	float: left;

	position: relative;
	bottom: -0.2em; // Fix baseline on Montague Regular

	@include adjust-font-size-to(scaled-value(5), 2);
	font-family: $font-stack-script;
	vertical-align: bottom;

	em {
		color: $color-green;
		font-style: normal;
	}
}
.masthead__nav {
	overflow: hidden;
	float: right;

	text-align: right;
}
// Media queries
@include media(desktop) {
	.masthead__title {
		@include adjust-font-size-to(scaled-value(4), 2);
	}
}
@include media(tabletV) {
	.masthead__title {
		em {
			display: none;
		}
	}
}
@include media(mobileH) {
	.masthead__title {
		float: none;
		@include trailer(1, scaled-value(4));

		@include adjust-font-size-to(scaled-value(4), 2);

		em {
			display: inline-block;
		}
	}
	.masthead__nav { 
		float: none;

		text-align: left;
	}
}
@include media(360px) {
	.masthead__title {
		em {
			display: none;
		}
	}
}