/**
* Block
*
* @section atoms
* @author  ljd
*/
.block {
	padding: em($base-line-height * 4) 0;
	clear: both;
}
.block--color {
	color: $color-white;

	background: $color-green url(../images/ui/block-pattern-green.jpg);

	a {
		border-color: $color-white;
		
		color: $color-white;
		
		&[href^="tel:"] {
			border-bottom-color: transparent;
		}
	}
}
// Media queries
@include media(mobileV) {
	.block {
		padding: em($base-line-height * 2) 0;
	}
}