/**
* Nav
*
* @section atoms
* @author  ljd
*/
.nav {
	overflow: hidden;
	margin: 0 -0.5em;
}
.nav__link {
	margin: 0 0.5em;
	border-color: transparent;
	display: inline-block;

	font-weight: 300;

	&:hover,
	&:focus,
	&:active {
		border-color: $color-green;
		
		color: $color-green;
	}
}