/**
* Form elements
*
* @section Quarks
* @author ljd
*/
%input__text {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: none;
}
%input__text--events {
	&:hover,
	&:active,
	&:focus {
		color: #f0f;
	}
}
form,
label, 
fieldset {
	display: block;
}
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
input[type="file"],
input[type="checkbox"],
input[type="radio"],
label[for] {
	cursor: pointer;
}
input,
select,
textarea,
.ph {
	@include box-sizing(border-box);
	border: none;

	outline: none;
}
input[type="number"]
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea  {
	@extend %input__text;
	@extend %input__text--events;
}
input[type="number"] { // http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
textarea {
	height: em($base-line-height * 10);
	overflow: auto;

	resize: none;
}
.ph {
	color: $color-grey;
}