/**
* Links
*
* @section Quarks
* @author ljd
*/
a {
	border-bottom: em(1px) solid $color-green;
	
	color: $color-green;
	text-decoration: none;
	vertical-align: baseline;

	@include transition(0.2s ease);

	&:hover,
	&:focus,
	&:active {
		border-color: $color-green-dark;

		color: $color-green-dark;
	}
	&[href^="tel:"] {
		border-bottom-color: transparent;
	}
}