/**
* Variables
*
* @section Quarks
* @author ljd
*/

// Media Queries
$mq-desktop: 1200px;
$mq-tablet-horizontal: 1024px;
$mq-tablet-vertical: 768px;
$mq-mobile-horizontal: 568px;
$mq-mobile-vertical: 380px;

// Type & rythm
$rythm-scale: // Customized modular scale - http://modularscale.com/scale/?px1=16&px2=26&ra1=1.5&ra2=0
	0.455,  // 1:  10px
	0.862,  // 2:  15px
	1,      // 3:  22px
	1.5,    // 4:  33px
	2.25,   // 5:  49.5px
	3.375,  // 6:  74.25px
	5.178;  // 6:  113.907px
$base-font-size: 22px;
$base-line-height: 15px;

// Colors
$color-white: #fff;
$color-black: #313131;

$color-green: #749a2b;
$color-green-dark: #71962a;

$color-grey: #555;
$color-grey-light: #ccc;

// Media queries
$site-max-width: 1240px;
$site-min-width: 240px;

// Font
$font-stack-sans-serif: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-stack-script: Montague, 'Brush Script MT', 'Marker Felt', 'Comic Sans', 'Comic Sans MS', 'ChalkboardSE-Regular', 'Purisa', 'URW Chancery L', cursive;

// Easing - http://matthewlein.com/ceaser/
$easing-linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$easing-ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$easing-ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$easing-ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easing-ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easing-ease-in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easing-ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easing-ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easing-ease-in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easing-ease-in-circ: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easing-ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easing-ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$easing-ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
$easing-ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
$easing-ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easing-ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easing-ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easing-ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easing-ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easing-ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easing-ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
$easing-ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easing-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easing-ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easing-ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easing-ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easing-ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easing-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easing-ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);

